#flex_box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
ul > li {
  border: 1em;
}
h3 {
  background-color: black;
  color: aliceblue;
  padding: 1.5em;
}
li {
  list-style-type: none;
}
.contain {
  margin: auto;
  padding: auto;
  width: 40%;
}
#message {
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
}

#title {
  color: rgb(0, 0, 0);
}

.inactive {
  display: none;
}
.strike-through {
  text-decoration: line-through;
  font-size: 0.5em;
}

body {
  background-image: url(star.jpg);
  background-size: cover;
  color: antiquewhite;
}

#view {
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 60px;
  position: fixed;
  margin: auto;
}
#article {
  line-height: 10px;
}
.js-clock {
  font-size: 1.2em;
}
.js-greetings {
  font-size: 1em;
}
.js-phrase {
  font-size: 0.5em;
}
.js-focus {
  font-size: 0.5em;
}
#city {
  font-size: 20px;
}
#weather {
  font-size: 50px;
  position: fixed;
  top: 40px;
  right: 40px;
}
